<header class="site-header">

    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
      <img class="logo" src="{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title[page.lang] }}">
      <h1>The Dataviz<br>Card Game</h1>
    </a>

    <nav class="site-nav">

      <ul>
        <li><a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.index[page.lang].title }}</a></li>
        {% assign pages=site.pages | where:"lang", page.lang | sort:"order" %}
        {% for my_page in pages %}
          {% if my_page.isInMenu and my_page.title  %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="language-container">
      <span>Language : <strong>{{ site.t[page.lang].langLabel }}</strong></span>
      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      <ul>
        {% for page in pages %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ site.t[page.lang].langLabel }}</a>
          </li>
        {% endfor %}
      </ul>
      <span class="cta cta-blue"><i class="icon-pencil"></i></span>
    </div>
    
</header>