<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<span class="subtitles">Subtitle</span>

<a>link</a>

<button>Button</button>

<div class="color-container">
	<div clas="color"></div>
	<div clas="color"></div>
	<div clas="color"></div>
	<div clas="color"></div>
</div>

<div class="trames-container">
	<div class="trame trame-2"></div>
	<div class="trame trame-3"></div>
	<div class="trame trame-4"></div>
	<div class="trame trame-5"></div>
	<div class="trame trame-6"></div>
</div>

