---
layout: default
title: Learn
isInMenu: 1
ref : learn
lang: en
order : 1
---

<section class="hero hero-learn">
	<div class="intro-container">
		<div class="txt-container">
			<h1>Learn</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
		</div>
		<ul class="anchors-list">
			<li><a href="#data"><i class="icon-angle-circled-right"></i> What is data ?</a></li>
			<li><a href="#dataviz"><i class="icon-angle-circled-right"></i> What is dataviz ?</a></li>
			<li><a href="#how"><i class="icon-angle-circled-right"></i> How did you build this game ?</a></li>
		</ul>
	</div>
</section>

<section id="data" class="question-block first">
	<div class="question-container">
		<div class="txt-container">
			<h2>What is data ?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<div class="feedback-container">
				<span class="cta-clear">How clear was the explanation ?</span>
				<ul>
					<li><i class="icon-star"></i><i class="icon-star-empty"></i></li>
					<li><i class="icon-star"></i><i class="icon-star-empty"></i></li>
					<li><i class="icon-star"></i><i class="icon-star-empty"></i></li>
					<li><i class="icon-star"></i><i class="icon-star-empty"></i></li>
					<li><i class="icon-star"></i><i class="icon-star-empty"></i></li>
				</ul>
			</div>
		</div>
		<img src="http://placehold.it/302x271">
	</div>
	{% include borderline.html %}
</section>

<section id="dataviz" class="question-block">
	<div class="question-container">
		<div class="txt-container">
			<h2>What is dataviz ?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<span class="cta-clear">How clear was the explanation ?</span>
		</div>
		<img src="http://placehold.it/302x271">
	</div>
	{% include borderline.html %}
</section>

<section id="how" class="question-block">
	<div class="question-container">
		<div class="txt-container">
			<h2>How did we you build this game ?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ornare fermentum. Pellentesque libero nulla, pretium ultricies dictum dignissim, vulputate vel ante. Vivamus sagittis quam a tincidunt tristique. Quisque rutrum mi nec venenatis viverra. Nunc commodo ornare mi at finibus.</p>
			<span class="cta-clear">How clear was the explanation ?</span>
		</div>
		<img src="http://placehold.it/302x271">
	</div>
	{% include borderline.html %}
</section>