---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #252525;
$background-color: #F9FCFD;
$brand-color:      #21ACC2;

$grey-color:       #929292;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$blue: #21ACC2;
$red: #E73C2F;
$dark-blue : #90D5E0;


// Width of the content area
$content-width:    1280px;

$on-palm:          600px;
$on-laptop:        1280px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
		"typography",
		"ease",
		"susy",
		"custom"
;
